:root {
    --step--2: clamp(0.96rem, calc(0.89rem + 0.10vw), 0.91rem);
    --step--1: clamp(1.20rem, calc(1.05rem + 0.21vw), 1.09rem);
    --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
    --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
    --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
    --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
    --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
    --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);

    --clr-background: #1C1C1C;
    --clr-foreground: #1F2937;

    --clr-light: #D5D4D8;    
    --clr-accent: #10B981;

    --clr-btn: var(--clr-accent);

    color: var(--clr-light);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --br: 6px;

    --copy-text: "Copy"
}

.dark-mode {
    --clr-background: #E0F2FE;
    --clr-foreground: #7DD3FC;

    --clr-light: #1c1c1c;
    --clr-accent: #881337;

    --clr-btn: #0C4A6E;

    color: var(--clr-light);
}

.warn {
    text-align: center;
    color: red;
    font-weight: bold;
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
    border-radius: 6px;
    border: none;
    text-align: center;
    font-size: var(--step-0);
    border: none;
    width: 80px;
    min-height: 60px;
    text-align: center;
    color: var(--clr-accent);
    background-color: var(--clr-background);

}

h2 { 
    font-size: var(--step-0);
    color: var(--clr-light);
}

p  { 
    font-size: var(--step--1);
    color: var(--clr-light);
 }

.btn {
    border: none;
    padding: 1rem 3rem;
    border-radius: var(--br);
    color: #fff;
    background-color: var(--clr-btn);
    text-transform: capitalize;
    font-size: var(--step-0);
    /* font-weight: bold; */
    cursor: pointer;
}

.clip-btn {
    background-color: transparent;
    border: none;
    color: var(--clr-light);
}

.flex-col {
    display: grid;
    /* gap: 2rem; */
    grid-template-columns: 10% 80% 10%;
}

.flex-row {
    display: flex;
    /* gap: 2rem; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: var(--clr-background);

    display: grid;
    place-items: center;
}

.password-generator {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
    background-color: var(--clr-foreground);
    width: min(100% - 2rem, 50rem, 75%);
    padding: 2rem 3rem;
    border-radius: 10px;

    margin: 1rem auto;
}

.heading {
    grid-column: span 2;
}

.dark-mode-toggle {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;

    color: var(--clr-light);
}



.title {
    font-size: var(--step-2);
    
}
.title span {
    display: block;
    color: var(--clr-accent);
    line-height: 1;
    font-size: var(--step-3);
    
}

.sub-title {
    font-size: var(--step--1);
}


.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
    place-items: center;
    align-items: flex-end;
}

.password-length {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    text-align: center;
    width: 80%;
    color: var(--clr-accent);
}


.passwords {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.password {
    display: flex;
    align-items: center;
    color: var(--clr-accent);
    padding: 0.5rem 2rem;
    background-color: var(--clr-background);
    border-radius: var(--br);
    width: min(23rem, 100%);
    margin: 0 auto;
}
.new-style {
    color: var(--clr-accent);
}

.password p {
    margin-right: auto;
}
.copy {
    cursor: pointer;
    /* color: var(--clr-accent); */
    position: relative;
}

.copy::after {
    content: var(--copy-text);
    font-size: var(--step--2);
    font-style: normal;

    background-color: var(--clr-light);
    border-radius: 6px;
    color: var(--clr-background); 
    padding: 0.2rem 1.5rem;

    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);

    position: absolute;

    display: none;
}


@media (hover: hover) {

    .copy:hover::after {
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .password-generator {
        padding: 0.5rem;
        width: calc(100% - 1.5rem);
        background-color: transparent;
    }

    input {
        background-color: var(--clr-foreground);
    }

    .password {
        background-color: var(--clr-foreground);
    }
}